.address-container-h4 {
  color: #9b9b9b;
}
.address-container {
  padding: 1em 1.5em;
}
.address-container p {
  font-size: 0.7em;
  color: #514f4f;
  font-weight: 600;
}
.address-container input {
  width: 20em;
  height: 4em;
  border-radius: 0;
  border: 1px solid #9b9b9b;
  padding: 1em;
}
.address-container input::placeholder {
  font-size: 0.8em;
  font-weight: 600;
  color: #9b9b9b;
}
.address-container input::placeholder:focus {
  border: 1px solid #9b9b9b;
}
.continuebtn-container {
  height: 2em;
}
.selected-address {
  font-size: 1.1em;
  color: #9b9b9b;
}
